body{
    background: url("../Image/382609.jpg") fixed ;
    background-size:cover;
    background-position:  center center;
    ;
}

.Account{
    width:100%
}
.Liste{
    color: black;
    width : 100%;
    float: left;
}
.textbox{
     width: 100%;
     color:white;
     margin-left: 20%;
 }

.textbox2{
    width: 50%;
    color:white;
    margin-left: 20%;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.Titre{
    text-align: center;
    color: #FFF;
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
}
hr.style5 {
    background-color: #fff;
    border-top: 2px dashed #8c8b8b;
}


